
.footer-content{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282c34;
    
    max-height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    color: white;

}